
.caixa-pesquisa {
	background-color: #ebeeef;
    border: 1px solid transparent;
    border-radius: 5px;
    margin-top: 3%;
    margin-left: 18%;
}

#area-dashboard {
    position: absolute;
    width: 70%;
    margin-left: 300px;
    margin-top: 80px;
}

#area-objetos-perdidos-devolvidos {
    margin-bottom: 20px;
    background-color: #ebeeef;
    border: 1px solid transparent;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
    text-align: center;
    text-decoration: none!important;
    padding: 25px 0;
    margin: 0 0 30px;
    width: 200px;
    height: 180px;
    font-size: 20px;
}


#area-porcentagem {
    padding: 25px 0;
    margin: 0 0 30px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
    margin-bottom: 20px;
    background-color: #ebeeef;
    border: 1px solid transparent;
    border-radius: 5px;
    margin-bottom: 20px;
}

#container-segunda-linha {
    margin-top: 5%;
}

.botao-dashboard {
	min-width: 100px;
    height: 28px;
    background-color: #555555;
    border-radius: 10px;
    font-family: Poppins-Regular;
    font-size: 16px;
    color: #fff;
    line-height: 1.2;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    margin-left: 6%;
    margin-top: 44%;
}

.grafico {
	margin-left: 6%;
}

.input-data {
	background-color: transparent;
}














